@use '../../../scss/utils/mixins' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
  width: 135px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 172px;
  }
}

.img {
  height: 32px;
  width: 32px;
  background-image: var(--logo1x) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @include retina {
    background-image: var(--logo2x) !important;
  }
}

.text {
  font-size: 16px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: -0.05px;
  text-wrap: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}