.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 2px solid rgb(29, 30, 33, 0.05);
  border-radius: 60%;
  cursor: pointer;
}

.btnChevron {
  @extend .btn;
  border: 2px solid rgb(29, 30, 33, 0.2);
  fill: var(--text-primary);
}

.btnChevron:disabled {
  border: 2px solid rgb(29, 30, 33, 0.05);
  fill: var(--text-muted);
  cursor: default;
}

.btnPage {
  @extend .btn;
  font-weight: 700;
  line-height: 18px;
}

.active {
  background-color: var(--accent);
  color: var(--text-secondary);
  border: none;
}

.dots {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: default;
  user-select: none;
}