.buttonDefault {
  padding: 0;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--text-secondary);
  background-color: transparent;
  border: none;
}

.contained {
  @extend .buttonDefault;
  padding: 13px 32px;
  background-color: var(--accent);
  border-radius: 60px;
  transition: background-color 0.25s;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }

  &:hover {
    background-color: var(--darkened);
  }
}

.outlined {
  @extend .buttonDefault;
  padding: 13px 32px;
  background-color: var(--accent);
  border: 1px solid #f1f1f1;
  border-radius: 60px;
  transition: background-color 0.25s;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }

  &:hover {
    background-color: var(--darkened);
  }
}

.text {
  @extend .buttonDefault;
}