.rating {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.star {
  display: inline-flex;
  font-size: 2rem;
  color: #ddd;
}

.star.filled {
  color: gold;
}

.value {
  font-size: 16px;
  font-weight: 500;
}