.navLinks {
  margin: 0 auto;
  width: 150px;

  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: center;
  }
}

.item {
  position: relative;
  display: inline-flex;
  padding: 6px;
  background-color: #fff;
  border-radius: 60px;
  border: 2px solid #f1f1f1;
}

.item:not(:last-child) {
  margin-bottom: 3px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
    margin-right: 3px;
  }
}

.item:not(:last-child)::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 10;

  @media screen and (max-width: 1439px) {
    bottom: -6px;
    left: calc(50% - 8px);
    height: 6px;
    width: 16px;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
  }

  @media screen and (min-width: 1440px) {
    top: calc(50% - 8px);
    right: -7px;
    height: 16px;
    width: 8px;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
  }
}

.navLink {
  padding: 6px 14px;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-muted);
  border-radius: 24px;
  text-wrap: nowrap;

  @media screen and (min-width: 768px) {
    padding: 8px 20px;
  }
}

.navLink:hover:not(.activeLink),
.navLink:focus-visible:not(.activeLink) {
  color: var(--text-secondary);
  background-color: var(--accent);
}

.activeLink {
  color: var(--text-secondary);
  background-color: var(--accent);
  cursor: default;
}