@use '../../scss/utils/mixins' as *;

.mainBanner {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 728px;
  color: var(--text-secondary);
  background-color: var(--accent);

  @media screen and (min-width: 768px) {
    height: 924px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    height: 700px;
    padding: 0 128px;
  }
}

.box {
  height: 331px;
  width: 100%;
  background-image: url('../../assets/images/pill-wg1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include retina {
    background-image: url('../../assets/images/pill-wg2x.png');
  }

  @media screen and (min-width: 768px) {
    height: 508px;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 auto;
    width: 749px;
  }
}

.title {
  padding: 20px 0 30px;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    padding: 140px 0 24px 80px;
    font-size: 74px;
    line-height: 74px;
  }

}

.subtitle {
  margin-left: auto;
  width: 156px;
  font-size: 12px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 50px;
    width: 207px;
    font-size: 16px;
    line-height: 20px;
  }
}