.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-muted);
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--accent);
  text-transform: uppercase;
}