.authPopup {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  background-color: var(--text-secondary);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    padding: 50px 70px;
    width: 463px;
  }
}

.title {
  margin-bottom: 14px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: var(--text-primary);
  text-align: center;
}

.subtitle {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6A6A6F;
  letter-spacing: 0.4px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.btnToggle {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #1d1e2166;
}

.btnClose {
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}