.productCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 20px;

  @media screen and (max-width: 767px) {
    width: 335px;
  }

  &.prod {
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      flex-direction: row;
      gap: 16px;
    }

    @media screen and (min-width: 1440px) {
      width: 364px;
    }
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #59b17a99;

  &.prod {
    height: 337px;
    width: 335px;

    @media screen and (min-width: 768px) {
      height: 284px;
      width: 364px;
    }

    @media screen and (min-width: 1440px) {
      height: 337px;
    }
  }
}

.image {
  height: 100%;
  border-radius: 20px;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--text-secondary);
  border-radius: 20px;

  &.med {
    height: 135px;
  }

  &.prod {
    height: 160px;
    width: 335px;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      padding: 32px;
      height: 284px;
      width: 324px;
    }

    @media screen and (min-width: 1440px) {
      padding: 20px;
      height: 174px;
    }
  }
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-primary);

  &.med {
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &.prod {
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

.suppliers {
  font-size: 12px;
  line-height: 18px;
  color: var(--text-muted);
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-primary);

  &.med {
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &.prod {
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      top: calc(258px - 50%);
      left: 32px;
      font-size: 20px;
      line-height: 28px;
    }

    @media screen and (min-width: 1440px) {
      top: 20px;
      right: 20px;
    }
  }
}

.rupee {
  font-size: 12px;
  font-weight: 900;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }
}