.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--text-secondary);
  background-color: transparent;
  border-radius: 60px;
  border: none;

  &.contained {
    background-color: var(--accent);
    transition: background-color 0.25s;

    &:hover {
      background-color: var(--darkened);
    }
  }

  &.outlined {
    font-weight: 400;
    border: 1px solid #f1f1f1;

    &:hover {
      background-color: var(--darkened);
    }
  }

  &.outlined-muted {
    font-weight: 400;
    color: var(--accent);
    border: 1px solid #59b17a80;

    &:hover {
      color: var(--text-secondary);
      background-color: var(--accent);
      border: none;
    }
  }

  &.dangered {
    color: var(--danger);
    background-color: var(--danger-bg);
    transition: background-color 0.25s, color 0.25s;

    &:hover {
      color: var(--text-secondary);
      background-color: var(--danger);
    }
  }

  &.small {
    padding: 10px 16px;
  }

  &.medium {
    padding: 13px 32px;
  }

  &.large {
    padding: 16px 32px;
  }

  &.loading {
    position: relative;

    &.spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 15px;
      width: 15px;
      border: 3px solid #fff;
      border-top: 3px solid transparent;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: spin 1s linear infinite;
    }
  }

  &.icon {
    margin-right: 18px;
  }

  &:disabled {
    color: var(--text-primary);
    background-color: var(--accent-muted);

    &:hover {
      background-color: var(--accent-muted);
      cursor: default;
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}