.medicinePage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: var(--text-primary);

  @media screen and (min-width: 1440px) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    gap: 13px;
    width: 704px;
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 40px;
    column-gap: 21px;
    width: 1184px;
  }
}

.noProducts {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary);
  text-align: center;
}