.medicinePage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: var(--text-primary);
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    gap: 13px;
  }
}

.noProducts {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary);
  text-align: center;
}