.cartPage {
  margin-bottom: 20px;

  @media screen and (min-width: 1440px) {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1184px;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.box {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}