.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}