.cartItem {
  display: flex;
  gap: 12px;
  padding: 20px 0;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.cartItem:not(:last-child) {
  border-bottom: 2px solid rgb(29, 30, 33, 0.1);
}

.image {
  height: 120px;
  width: 120px;
  border: 2px solid #f1f1f1;
  border-radius: 27px;

  @media screen and (min-width: 768px) {
    height: 133px;
    width: 122px;
  }
}

.detailBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.infoBox {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.name {
  width: 203px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--text-primary);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.suppliers {
  width: 203px;
  font-size: 12px;
  line-height: 24px;
  color: var(--text-muted);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.rupee {
  margin-right: 4px;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    font-weight: 800;
    line-height: 12px;
  }
}

.btnBox {
  display: flex;
  justify-content: space-between;
}