.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-primary);
}

.input {
  padding: 13px 18px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid rgb(29, 30, 33, 0.2);
  border-radius: 60px;
  transition: border-color 0.25s ease;

  &:focus {
    border-color: var(--accent);
    outline: none;
  }

  &::placeholder {
    color: var(--plColor) !important;
  }
}

.error {
  border-color: var(--danger);
}

.errorMessage {
  position: absolute;
  left: 20px;
  bottom: 0;
  margin-top: 8px;
  font-size: 12px;
  color: var(--danger);
}