@use '../../scss/utils/mixins' as *;

.loginPage {
  position: relative;
  padding: 80px 20px 190px;
  height: 100%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding: 140px 32px 190px;
  }
}

.headerBox {
  position: relative;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 54px;
  }
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 1px;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 2px;
  }
}

.img {
  position: absolute;
  top: -54px;
  right: 20px;
  height: 93px;
  width: 95px;
  background-image: url('../../assets/images/pill-w1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    top: -110px;
    right: 110px;
    height: 179px;
    width: 175px;
  }

  @include retina {
    background-image: url('../../assets/images/pill-w2x.png');
  }
}

.mark {
  margin: 0 8px;
  color: var(--accent);
}

.linkBox {
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 280px;
  }
}

.decor {
  position: absolute;
  right: -104px;
  bottom: -34px;

  @media screen and (min-width: 768px) {
    right: -164px;
    bottom: -14px;
  }
}