.productInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 783px;
  width: 335px;
  padding: 20px 20px 40px;
  background-color: var(--text-secondary);
  border-radius: 27px;

  @media screen and (min-width: 768px) {
    padding: 32px;
    height: 697px;
    width: 704px;
  }

  @media screen and (min-width: 1440px) {
    padding: 40px;
    height: 709px;
    width: 800px;
  }
}

.tabsContainer {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 8px 25px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--accent);
  background-color: var(--accent-muted);
  border-radius: 40px;

  &:disabled {
    color: var(--text-secondary);
    background-color: var(--accent);
    cursor: default;
  }
}

.description {
  overflow: hidden;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}