.productFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filterControls {
  @extend .productFilterContainer;
}

.searchLabel {
  position: relative;
}

.searchInput {
  padding: 13px 18px;
  height: 44px;
  width: 335px;
  font-size: 12px;
  color: var(--text-primary);
  background-color: var(--text-secondary);
  border: 1px solid #f1f1f1;
  border-radius: 60px;
  outline: none;

  &::placeholder {
    color: var(--text-muted);
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.btnText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-secondary);
}