.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  width: 100%;
}

.inputsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 26px;
  height: 206px;
}