.sharedLayout {
  position: relative;
  display: grid;
  grid:
    "header" 84px "main" 1fr var(--footer) / 1fr;
  max-width: 1980px;
  min-width: 320px;
  height: 100vh;
}

.main {
  grid-area: main;
}